html, body {
  /* makes scroll to feel instant */
  scroll-behavior: auto !important;
}

body {
  /* remove below to restore plain bootstrap look */
  /* background-color: #f0f0f0 !important; */
  background-color: white;
}

.mainAccord--summary {
    font-size: 1rem;
  }
  
.brand-img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

.modal-header {
  width: 100%;
  max-width: 1200px;
  padding: 0.5em;
}

.modal-body {
  width: 100%;
  max-width: 1200px;
  padding-top: 0.3em;
  position: relative;
}

.modal-content {
  padding-left: 1em;
  padding-right: 1em;
  height: 80%;
}

.modal-footer {
  width: 100%;
  max-width: 1200px;
  padding: 0.5em;
}

.modal-backdrop {
  background-color: white;
  opacity: 1 !important;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#e0e2ff 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #e0e2ff 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

#confetticanvas {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.fc-grey {
  color: #4E4E4E
}

.sentence-card {
  animation: fade 0.5s ease-in-out;
  
  /* remove below to restore plain bootstrap look */
  /* border: none !important;
  padding: 2rem !important;
  font-size: 1.3rem!important; */
}

.fade-in {
  animation: fade 0.5s ease-in;
}
/* .sentence-card:nth-child(2) {
  animation-delay: .3s;
}
.sentence-card:nth-child(3) {
  animation-delay: .6s;
}
.sentence-card:nth-child(4) {
  animation-delay: .9s;
}
.sentence-card:nth-child(5) {
  animation-delay: 1.2s;
} */
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nested summary {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: gray;
  border-bottom: 1px solid #bababa;
  margin: 1rem 0 1rem;
}

.jpn {
  font-family: 'Roboto', sans-serif;
  color: #383B3D;
}

.grade-pill {
  font-size: 0.7rem;
}

.icon-yellow {
  color: goldenrod;
}

.icon-pink {
  color: hotpink;
}

.hr-bar {
    color: #dee2e6;
    opacity: 1 !important;
}

#text-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0d6efd;
  opacity: 0.9; /* Firefox */
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

#text-search-input { /* Chrome, Firefox, Opera, Safari 10.1+ */
  border-color: #0d6efd;
  opacity: 0.7; /* Firefox */
}

@media (max-width: 453.98px) {
    .chart-d-sm-w-100 {
      width: 100% !important;
    }
    #hero-section{
      padding-top: 15px !important;
    }
    #hero-h2 {
      font-size: 1.2rem;
    }
    
    #hero-h6{
      font-size: 0.9rem;
    }

    #button-filters-container {
      margin-left: 0 !important;
    }

    .filter-btn {
      font-size: 0.8rem !important;
      font-weight: normal !important;
      padding: 2px 5px !important;
      margin-right: 0px !important;
      margin-left: 0px !important;
    }
    /* .card-body {
      min-width: 350px !important;
    } */
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}
  
@media (max-width: 767.98px) {
    /* .chart-d-sm-w-100 {
      width: 100% !important;
    } */

    .chart-one-wrapper {
      width: 100% !important;
    }
    
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}
  
  @media (max-width: 1219.98px) {
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}