html, body {
  scroll-behavior: auto !important;
}

.mainAccord--summary {
    font-size: 1rem;
  }
  
.brand-img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }

.modal-header {
  width: 100%;
  max-width: 1200px;
  padding: 0.5em;
}

.modal-body {
  width: 100%;
  max-width: 1200px;
  padding-top: 0.3em;
  position: relative;
}

.modal-content {
  padding-left: 1em;
  padding-right: 1em;
  height: 80%;
}

.modal-footer {
  width: 100%;
  max-width: 1200px;
  padding: 0.5em;
}

.modal-backdrop {
  background-color: white;
  opacity: 1 !important;
  background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#e0e2ff 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #e0e2ff 2px, #ffffff 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

#confetticanvas {
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.fc-grey {
  color: #4E4E4E
}

.nested summary {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  font-weight: 400;
  color: gray;
  border-bottom: 1px solid #bababa;
  margin: 1rem 0 1rem;
}

.grade-pill {
  font-size: 0.7rem;
}

.icon-yellow {
  color: goldenrod;
}

.hr-bar {
    color: #dee2e6;
    opacity: 1 !important;
}

@media (max-width: 453.98px) {
    .chart-d-sm-w-100 {
      width: 100% !important;
    }
    #hero-section{
      padding-top: 15px !important;
    }
    #hero-h2 {
      font-size: 1.2rem;
    }

    #hero-h6{
      font-size: 0.9rem;
    }
    /* .card-body {
      min-width: 350px !important;
    } */
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}
  
@media (max-width: 767.98px) {
    /* .chart-d-sm-w-100 {
      width: 100% !important;
    } */

    .chart-one-wrapper {
      width: 100% !important;
    }
    
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}
  
  @media (max-width: 1219.98px) {
    /* #main-wrapper {
      padding: 0px 20px;
    } */
}